body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

body {
	background: url('ui/green-fibers.png'); /*#344321 url('ui/body-bg.jpg'); */ /*#404E2B;*/
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.clearfix:before,.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; /* For IE 6/7 */ }

.container {
	margin: 0 auto 20px;
	position: relative;
}

body.tasks > .container,
.settings-container {
	padding-top: 50px;
}


/*** Login ****/

.login {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 20px auto;
	padding: 20px;
	width: 300px;
}

	.login h1 {
		margin-bottom: 20px;
		text-align: center;
	}

	#loginForm div {
		margin: 5px 0;
	}
	
	#loginForm label {
		display: block;
		float: left;
		height: 32px;
		line-height: 32px;
		width: 100px;
		text-align: right;
	}
	
	#loginForm input {
		background: #FFF;
		border: solid 1px #d3d3d3;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		display: block;
		float: left;
		height: 22px;
		line-height: 22px;
		margin-left: 10px;
		padding: 5px 10px;
	}
	
	#loginForm input:focus {
		border-color: #b3b3b3;
	}
	
	#loginForm #submit {
		background: #f8f8f8;
		border: solid 1px #d3d3d3;
		float: right;
		font-size: .9em;
		height: 28px;
		line-height: 28px;
		margin: 10px 18px 0;
		padding: 0 10px;
	}
	
	#loginForm #submit:hover,
	#loginForm #submit:focus {
		background: #FFF;
		background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e3e3e3));
		background: -moz-linear-gradient(top, #FFF, #e3e3e3);		
		cursor: pointer;
	}
	
.message {
	background: #F3EABC;
	border: solid 1px #D4BC46;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 10px auto;
	padding: 10px 20px;
	width: 300px;
}	

	.message p {
		margin: 5px 0;
	}
	
.error {
	background: #FAE3E3;
	border-color: #C00;
}

/* elements using icon-sprite */

a.home,
.options .settings-link a,
.options .tasks-link a,
#date-pick > a,
.completed a,
.handle,
.flagger,
.delete,
.confirm-delete,
.linker,
.link,
.cat-options a {
	background: url('ui/icon-sprite.png') no-repeat;
}

.super-bar {
	background: #44414B;
	background: -webkit-gradient(linear, left top, left bottom, from(#5D5A64), to(#44414B));
	background: -moz-linear-gradient(top, #5D5A64, #44414B);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border: solid 1px #44414B;
	border-top: none;
	height: 30px;
	position: fixed;
		top: 0;
		left: 0;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	width: 100%;
	min-width: 600px;
	z-index: 1000;
}

	a.home {
		background-position: -60px -330px;
		float: left;
		margin-right: 30px;
		text-indent: -9999px;
		width: 30px;
	}

	.super-bar .container {
		margin: 0 auto;
	}

	.super-bar h1 {
		color: #D6D3DD;
		float: left;
		font-size: 1.1em;
		height: 30px;
		line-height: 30px;
		margin-right: 20px;
	}
	
	.utilities {
		float: right;
	}
	
	.super-bar li {
		float: left;
	}
	
	.utilities li {
		border-right: solid 1px #44414B;
	}
	
	.utilities li:first-child {
		border-left: solid 1px #44414B;
	}
	
	a.home,
	.super-bar li > a,
	#cancel-task,
	#save-task {
		color: #D6D3DD;
		display: block;
		float: left;
		height: 30px;
		outline: none;
		text-decoration: none;
	}
	
	a.home:hover,
	.super-bar li > a:hover,
	#date-pick img:hover {
		background-color: rgba(255,255,255,0.1);		
	}
		
	.today-shortcut a {
		line-height: 30px;
		padding: 0 10px;
	}
	
	#date-pick {
		position: relative;
		width: 32px;
	}

		#date-pick img {
			cursor: pointer;
			display: block;
		}
		
	.create-task {
		position: relative;
	}
	
		#create-task {
			font-size: 2em;
			position: relative;
			text-align: center;
			text-decoration: none;
			width: 28px;
			line-height: 22px;
			padding-left: 2px;
			z-index: 20;
		}
		
		.creating-task #create-task {
			background: #706D77;
		}
		
		.creating-task:before,
		#task-creator {
			-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
			box-shadow: 0 0 10px rgba(0,0,0,0.2);
		}

		#task-creator {
			background: #706D77;
			-moz-border-radius: 3px 0 3px 3px;
			-webkit-border-radius: 3px 0 3px 3px;
			border-radius: 3px 0 3px 3px;
			border: solid 1px #44414B;
			padding: 10px;
			position: absolute;
				right: -1px;
				top: 29px;
			width: 487px;
			z-index: 10;
		}
		
			#task {
				background: #FFF;
				-moz-border-radius: 3px 3px 0 0;
				-webkit-border-radius: 3px 3px 0 0;
				border-radius: 3px 3px 0 0;
				border: solid 1px #44414B;
				border-bottom-color: #948FA0;
				padding: 5px 10px;
				width: 466px;
				height: 30px;
				line-height: 30px;
			}

			.creator-edit-bar {
				background: #44414B;
				background: -webkit-gradient(linear, left top, left bottom, from(#5D5A64), to(#44414B));
				background: -moz-linear-gradient(top, #5D5A64, #44414B);
				-moz-border-radius: 0 0 3px 3px;
				-webkit-border-radius: 0 0 3px 3px;
				border-radius: 0 0 3px 3px;
				border: solid 1px #44414B;
				border-top: none;
				height: 30px;
			}
			
				.creator-edit-bar select {
					float: left;
					margin: 5px;
				}
				
				.creator-link-options {
					float: right;
				}
				
				.creator-edit-bar input {
					background: #FFF;
					border: solid 1px #c3c3c3;
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					border-radius: 3px;
					color: #a3a3a3;
					float: left;
					margin: 2px;
					padding: 2px 5px;
					width: 134px;
					height: 20px;
					line-height: 20px;
				}
				
				.creator-edit-bar input:focus,
				.creator-edit-bar input.has-text {
					color: #333;
				}
				
				#task-creator .actions {
					float: right;
					padding-top: 10px;
				}
				
					#cancel-task,
					#save-task {
						-moz-border-radius: 3px;
						-webkit-border-radius: 3px;
						border-radius: 3px;
						-webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
						-moz-box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
						box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
						font-size: .9em;
						height: 28px;
						line-height: 28px;
						padding: 0 10px;
					}
				
					#cancel-task {
						background: #f8f8f8;
						background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e3e3e3));
						background: -moz-linear-gradient(top, #f8f8f8, #e3e3e3);
						border: solid 1px #c3c3c3;
						color: #4B2020;
						text-shadow: none;
					}
					
						#cancel-task:hover,
						#cancel-task:focus {
							background: #e3e3e3;
							background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#d3d3d3));
							background: -moz-linear-gradient(top, #e3e3e3, #d3d3d3);
						}
					
					#save-task {
						background: #44414B;
						background: -webkit-gradient(linear, left top, left bottom, from(#5D5A64), to(#44414B));
						background: -moz-linear-gradient(top, #5D5A64, #44414B);
						border: solid 1px #44414B;
						color: #FFF;
						margin-left: 10px;
					}
					
						#save-task:hover,
						#save-task:focus {
							background: #56525E;
							background: -webkit-gradient(linear, left top, left bottom, from(#6D6975), to(#56525E));
							background: -moz-linear-gradient(top, #6D6975, #56525E);
						}
					
					#submit-task {
						position: absolute;
						left: -9999px;
					}
				
					.creator-link-options .flagger {
						float: left;
					}
		
	.date {
		color: #D6D3DD;
		line-height: 30px;
		text-align: center;
		width: 160px;
	}
	
	.previous-day a,
	.next-day a {
		font-size: 1.5em;
		text-align: center;
		width: 30px;
		line-height: 25px;
	}
	
	.options {
		float: right;
		margin-left: 30px;
	}

		.options li {
			border-left: solid 1px #44414B;
			float: left;
		}
		
			.options a {
				font-size: .75em;
				line-height: 30px;
				text-align: center;
			}
			
				.options .settings-link a,
				.options .tasks-link a {
					text-indent: -9999px;
					width: 30px;
				}
	
				.options .settings-link a {
					background-position: 0 -180px;
				}
							
				.options .tasks-link a {
					background-position: -30px -180px;
				}
				
				.options .logout a {
					width: 60px;
				}
	

/**** Header ****/

.login,
.category,
.settings .section {
	background: #D6D3DD url('ui/cat-bg.jpg');
}

.header {
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	border: solid 1px #33461B;
	border-top: none;
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
	z-index: 100;
}


/**** 1 Column Layout ****/

.layout-1 .container {
	width: 540px;
}

	.layout-1 .tasks-col {
		
	}
	
		.layout-1 .task {
			width: 436px;
		}

/**** 2 Column Layout ****/

.layout-2 .container {
	width: 960px;
}

	.layout-2 .tasks-col {
		float: left;
		width: 470px;
	}
	
	.tasks-col-1 {
		margin-right: 20px;
	}
	
		.layout-2 .task {
			width: 366px;
		}

/**** Tasks ****/

.category {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #33461B;
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	margin-bottom: 20px;
	padding: 20px;
}

.empty {
	opacity: 0.5;
}

.task-row {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #948FA0;
	margin: 10px 0;
	position: relative;
}

.important {
	border-color: #A30707;
}

.ui-sortable-helper {
	opacity: 0.5;
}

.ui-placeholder {
	border: dashed 1px #b3b3b3;
	height: 62px;
	margin: 10px 0;
}

	.completed {
		border-right: solid 1px #d3d3d3;
		-moz-border-radius: 3px 0 0 3px;
		-webkit-border-radius: 3px 0 0 3px;
		border-radius: 3px 0 0 3px;
		padding: 5px;
		position: absolute;
			left: 0;
			top: 0;
		width: 30px;
		height: 30px;
		z-index: 30;
	}
	
		.completed input {
			display: none;
		}
		
		.completed a {
			background-position: 0 0;
			display: block;
			float: left;
			outline: none;
			text-indent: -9999px;
			width: 30px;
			height: 30px;
		}
		
		.completed a:hover,
		.completed a:focus {
			background-position: -30px 0;
		}
		
		.completed .checked,
		.completed .checked:hover,
		.completed .checked:focus {
			background-position: -60px 0;
		}
	
	.task {
		background: #FFF;
		border: none;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
		box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
		display: block;
		font-size: 13px;
		height: 30px;
		line-height: 30px;
		padding: 5px 10px 5px 50px;
		position: relative;
		z-index: 20;
	}
	
	.edit-bar-open .task {
		-moz-border-radius: 3px 3px 0 0;
		-webkit-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
	}

	.important .task {
		background-color: #FFF2F2;
	}
	
	.linked .task {
		background-image: url('ui/icon-sprite.png');
		background-position: 98% -210px;
		background-repeat:  no-repeat;
	}
	
	.saving .task {
		background-image: url('ui/saving.gif');
		background-position: 98% 12px;
		background-repeat:  no-repeat;
	}
	
	.saved {
		background: #FFF;
		color: #b6b6b6;
		display: none;
		font-size: .875em;
		height: 24px;
		line-height: 24px;
		padding: 0 5px;
		position: absolute;
			top: 8px;
			right: 6px;
		z-index: 100;
	}

	.important .saved {
		background: #FFF2F2;
	}
	
	.edit-bar {
		background: #948FA0;
		background: -webkit-gradient(linear, left top, left bottom, from(#948FA0), to(#706D77));
		background: -moz-linear-gradient(top, #948FA0, #706D77);
		-moz-border-radius: 0 0 3px 3px;
		-webkit-border-radius: 0 0 3px 3px;
		border-radius: 0 0 3px 3px;
		border-top: none;
		display: none;
		height: 30px;
		position: relative;
	}
	
	.edit-bar-open .edit-bar,
	.editing-link .edit-bar {
		display: block;
	}

		.edit-bar > div,
		.edit-bar > a,
		.edit-bar > div > a,
		.creator-edit-bar .flagger {
			border-left: solid 1px #706D77;
			display: block;
			float: right;
			outline: none;
			text-decoration: none;
		}
		
		.handle,
		.flagger,
		.delete,
		.confirm-delete,
		.linker {
			text-indent: -9999px;
			width: 30px;
			height: 30px;
		}
			
		.edit-bar .handle {
			background-position: 0 -120px;
			-moz-border-radius: 0 0 0 3px;
			-webkit-border-radius: 0 0 0 3px;
			border-radius: 0 0 0 3px;
			border-left: none;
			float: left;
		}
		
		.handle:hover {
			background-position: -30px -120px;
			cursor: move;
		}
		
		.edit-bar .flagger,
		.creator-edit-bar .flagger {
			background-position: -30px -90px;
			-moz-border-radius: 0 0 3px 0;
			-webkit-border-radius: 0 0 3px 0;
			border-radius: 0 0 3px 0;
		}
		
		.flagger:hover,
		.important .flagger {
			background-position: 0 -90px;
		}
	
		.edit-bar .delete {
			background-position: 0 -30px;
		}
		
		.edit-bar .delete:hover {
			background-position: 0 -60px;
		}
		
		.edit-bar .confirm-delete {
			background-position: -30px -30px;
			display: none;
			width: 60px;
		}
	
		.edit-bar .confirm-delete:hover {
			background-position: -30px -60px;
		}
		
		.add-link {
			background-position: -60px -90px;
		}

		.editing-link .add-link {
			background-color: #706D77;
		}
				
		.add-link:hover,
		.linked .add-link {
			background-position: -60px -120px;
		}
			
		.break-link {
			background-position: -60px -150px;
		}
		
		.break-link:hover {
			background-position: -60px -180px;
		}
		
		.link {
			background-position: 100% -250px;
			border-left: solid 1px #c3c3c3;
			color: #D6D3DD;
			display: block;
			float: right;
			font-size: .8em;
			height: 30px;
			line-height: 30px;
			padding: 0 15px;
			text-decoration: none;
		}

		.link:hover {
			background: #FFF url('ui/icon-sprite.png') 100% -290px no-repeat;
			background: url('ui/icon-sprite.png') 100% -290px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e3e3e3));
			background: url('ui/icon-sprite.png') 100% -290px no-repeat, -moz-linear-gradient(top, #FFF, #e3e3e3);	
			color: #44414B;	
		}
		
		#link-editor {
			background: #706D77;
			-moz-border-radius: 0 0 3px 3px;
			-webkit-border-radius: 0 0 3px 3px;
			border-radius: 0 0 3px 3px;
			height: 34px;
			position: absolute;
				top: 30px;
				left: 10px;
			z-index: 100;
		}
		
		.layout-1 #link-editor {
			width: 478px;
		}
		
		.layout-2 #link-editor {
			width: 408px;
		}
		
			#link-editor input {
				background: #FFF;
				border: solid 1px #c3c3c3;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				color: #a3a3a3;
				float: left;
				height: 20px;
				line-height: 20px;
				margin: 4px;
				padding: 2px 5px;
			}
			
			#link-editor input:first-child {
				margin-right: 0;
			}
			
			.layout-1 #link-editor input {
				width: 221px;
			}
			
			.layout-2 #link-editor input {
				width: 186px;
			}		
			
			#link-editor input:focus,
			#link-editor input.has-text {
				color: #333;
			}
			
			#link-editor #save-link {
				position: absolute;
				left: -9999px;
			}
		
		.date-change {
			position: relative;
			height: 30px;
			width: 92px;
		}
		
			.date-change > a {
				background: #f8f8f8;
				border: solid 1px #e3e3e3;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				color: #38485C;
				display: block;
				float: right;
				font-size: .9em;
				height: 24px;
				line-height: 24px;
				margin: 2px;
				text-align: center;
				text-decoration: none;
				width: 86px;
			}
	
			.date-change > a:hover {
				background: #FFF;
				background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e3e3e3));
				background: -moz-linear-gradient(top, #FFF, #e3e3e3);		
			}
			
	.save-task {
		position: absolute;
		left: -9999px;
	}

.no-results {
	background: rgba(0,0,0,0.2);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
	color: #cacaca;
	padding: 20px 42px;
}


/**** Datepicker Styles ****/

/* Helpers */

.ui-helper-clearfix:before,.clearfix:after { content:""; display:table; }
.ui-helper-clearfix:after { clear:both; }
.ui-helper-clearfix { zoom:1; /* For IE 6/7 */ }

/* Choosers */
#date-picker,
.edit-bar .date-changer {
	display: none;
	position: absolute;
		top: 0;
		right: 0;
}

#ui-datepicker-div {
	display: none;
	position: absolute !important;
	top: 0 !important;
	left: auto !important;
	right: 0 !important;
}

.ui-datepicker {
	background: #948FA0;
	background: -webkit-gradient(linear, left top, left bottom, from(#948FA0), to(#706D77));
	background: -moz-linear-gradient(top, #948FA0, #706D77);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	padding: 5px;
	width: 260px;
}

	.ui-datepicker-header {
		background: #44414B;
		background: -webkit-gradient(linear, left top, left bottom, from(#5D5A64), to(#44414B));
		background: -moz-linear-gradient(top, #5D5A64, #44414B);
		border: solid 1px #44414B;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border: solid 1px #44414B;
		height: 24px;
		line-height: 24px;
		margin-bottom: 3px;
		position: relative;
	}
	
		.ui-datepicker .ui-datepicker-prev, 
		.ui-datepicker .ui-datepicker-next {
			cursor: pointer;
			display: block;
			height: 24px;
			line-height: 24px;
			padding: 0 5px;
			position: absolute;
				top: 0;
		}
		
		.ui-datepicker .ui-datepicker-prev {
			-moz-border-radius: 3px 0 0 3px;
			-webkit-border-radius: 3px 0 0 3px;
			border-radius: 3px 0 0 3px;
			border-right: solid 1px #231D2B;
			left: 0;
		}
		
		.ui-datepicker .ui-datepicker-next {
			-moz-border-radius: 0 3px 3px 0;
			-webkit-border-radius: 0 3px 3px 0;
			border-radius: 0 3px 3px 0;
			border-left: solid 1px #231D2B;
			right: 0;
		}

		.ui-datepicker .ui-datepicker-prev:hover, 
		.ui-datepicker .ui-datepicker-next:hover {
			background: rgba(255,255,255,0.2);
		}

		.ui-datepicker .ui-datepicker-prev:after {
			color: #FFF;
			content: '<';
			cursor: pointer;
		} 
		.ui-datepicker .ui-datepicker-next:after {
			color: #FFF;
			content: '>';
			cursor: pointer;
		}
			
			.ui-datepicker .ui-datepicker-prev span, 
			.ui-datepicker .ui-datepicker-next span {
				display: none;
			}
			
		.ui-widget-content .ui-state-disabled,
		.ui-widget-content .ui-state-disabled span,
		.ui-widget-content .ui-state-disabled:hover {
			background: none;
			cursor: default;
			opacity: 0.5;
		}
		
		.ui-datepicker .ui-datepicker-title {
			color: #FFF;
			font-size: .9em;
			text-align: center;
		}

	.ui-datepicker table {
	    border-collapse: collapse;
	    font-size: 0.9em;
	    width: 100%;
	}
		
		.ui-datepicker thead {
		}
		
			.ui-datepicker th {
				color: #F5F4E8;
				padding-bottom: 3px;
				font-weight: bold;
				text-align: center;
			}
			
		.ui-datepicker tbody {
		}
		
			.ui-datepicker td {
				border: none;
				padding: 1px;
			}
			
				.ui-datepicker td span, 
				.ui-datepicker td a {
					display: block;
				    padding: 3px;
				    text-align: right;
				    text-decoration: none;
				}
			
				.ui-state-default, 
				.ui-widget-content .ui-state-default, 
				.ui-widget-header .ui-state-default {
					background: #DCD9DE;
					background: -webkit-gradient(linear, left top, left bottom, from(#DCD9DE), to(#DCD9DE));
					background: -moz-linear-gradient(top, #DCD9DE, #DCD9DE);
					border: solid 1px #DCD9DE;
					color: #30273A;
				}
				
				.ui-state-default:hover, 
				.ui-widget-content .ui-state-default:hover, 
				.ui-widget-header .ui-state-default:hover {
					border-color: #30273A;
				}
				
				.ui-widget-content .ui-state-active {
					background: #F7F3DE;
					border-color: #B2A266;
					color: #3A3427;
				}
				
				.ui-state-highlight,
				.ui-widget-content .ui-state-highlight, 
				.ui-widget-header .ui-state-highlight {
					background: #30273A;
					border-color: #30273A;
					color: #FFF;
				}

				.ui-datepicker-days-cell-over .ui-state-default {
					border-color: #30273A;
				}

/**** Settings ****/

.saving-wrap {
	float: right;
	position: relative;
	width: 100px;
}

	#saving-settings,
	#saved-message {
		display: none;
		position: absolute;
	}
	
	#saving-settings {
		top: 6px;
		right: 6px;
	}
	
	#saved-message {
		color: #FFF;
		font-size: .9em;
		height: 30px;
		line-height: 30px;
		top: 0;
		right: 0;
	}


.settings-container {
	margin: 0 auto 20px;
	width: 614px;
}

.settings .super-bar .container {
	width: 612px;
}

	.settings .section {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border: solid 1px #33461B;
		-moz-box-shadow: 0 0 15px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
		box-shadow: 0 0 15px rgba(0,0,0,0.5);
		padding: 20px;
	}

	.categories-section {
		margin-top: 20px;
	}
	
		.settings-header {
			margin-bottom: 10px;
			position: relative;
		}
		
			.settings-header h2 {
				font-size: 1.2em;
				height: 30px;
				margin-top: 0;
			}
			
			#add-cat {
				display: block;
				font-size: 2em;
				position: absolute;
					top: 0;
					right: 0;
				text-align: center;
				text-decoration: none;
				width: 30px;
				height: 30px;
				line-height: 22px;
			}
			
			#cat-creator {
				-moz-border-radius: 3px 0 0 3px;
				-webkit-border-radius: 3px 0 0 3px;
				border-radius: 3px 0 0 3px;
				border-right: none;
				position: absolute;
					top: 0;
					right: 30px;
				width: 0;
				z-index: 10;
			}
			
				#new-cat {
					background: #FFF;
					border: solid 1px #c3c3c3;
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					border-radius: 3px;
					display: none;
					float: left;
					margin: 2px;
					padding: 2px 5px;
					width: 134px;
					height: 20px;
					line-height: 20px;
				}
				
				#submit-cat {
					position: absolute;
					left: -9999px;
				}
			
		.settings .content {
			background: rgba(0, 0, 0, 0.1);
			border: solid 1px #948FA0;
			padding: 15px;
		}
		
			.col-select {
				margin: 0 auto;
				width: 240px;
			}
		
				.col-select li {
					background: #948FA0;
					background: -webkit-gradient(linear, left top, left bottom, from(#948FA0), to(#706D77));
					background: -moz-linear-gradient(top, #948FA0, #706D77);
					border: solid 1px #948FA0;
					-moz-box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
					-webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
					box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
					cursor: pointer;
					float: left;
					padding: 14px;
					width: 90px;
					height: 90px;
				}
				
				.col-select li:hover {
					background: #858091;
					background: -webkit-gradient(linear, left top, left bottom, from(#858091), to(#5E5B64));
					background: -moz-linear-gradient(top, #858091, #6C6375);
				}
				
				.layout-1 .col-select .col-select-1,
				.layout-2 .col-select .col-select-2 {
					background: #4B4552;
					background: -webkit-gradient(linear, left top, left bottom, from(#4B4552), to(#5E5B64));
					background: -moz-linear-gradient(top, #4B4552, #6C6375);
					border-color: #2D2138;
					cursor: default;
				}
				
				.col-select li:first-child {
					-moz-border-top-left-radius: 6px;
					-moz-border-bottom-left-radius: 6px;
					-webkit-border-top-left-radius: 6px;
					-webkit-border-bottom-left-radius: 6px;
					border-top-left-radius: 6px;
					border-bottom-left-radius: 6px;
				}
	
				.col-select li:last-child {
					-moz-border-top-right-radius: 6px;
					-moz-border-bottom-right-radius: 6px;
					-webkit-border-top-right-radius: 6px;
					-webkit-border-bottom-right-radius: 6px;
					border-top-right-radius: 6px;
					border-bottom-right-radius: 6px;
				}
				
					.col-select span {
						border: solid 1px #D6D3DD;
						color: #D6D3DD;
						display: block;
						text-align: center;
						width: 38px;
						height: 88px;
						line-height: 88px;
						text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
					}
					
					.col-select .col-select-1 span {
						margin: 0 auto;
						width: 48px;
					}
					
					.col-select .col-select-2 span {
						float: left;
						margin-left: 10px;				
					}
	
					.col-select .col-select-2 span:first-child {
						margin: 0;
					}
			
			#add-cat,
			#cat-creator {
				background: #948FA0;
				background: -webkit-gradient(linear, left top, left bottom, from(#948FA0), to(#706D77));
				background: -moz-linear-gradient(top, #948FA0, #706D77);
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				border: solid 1px #706D77;
				-moz-box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
				-webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
				box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
				color: #D6D3DD;
				text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
			}
			
			#add-cat:hover {
				background: #AAA5B6;
				background: -webkit-gradient(linear, left top, left bottom, from(#AAA5B6), to(#87838F));
				background: -moz-linear-gradient(top, #AAA5B6, #87838F);		
			}											
											
			.cat-settings-col {
				border: solid 1px #948FA0;
				padding: 5px 10px;
				width: 240px;
			}
						
			.layout-1 .cat-settings-col {
				margin: 0 auto;
			}
			
			.layout-2 .cat-settings-col {
				float: left;
				margin: 4px;
			}
			
				.cat-settings-col li {
					background: #948FA0;
					background: -webkit-gradient(linear, left top, left bottom, from(#948FA0), to(#706D77));
					background: -moz-linear-gradient(top, #948FA0, #706D77);
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					border-radius: 3px;
					border: solid 1px #948FA0;
					color: #D6D3DD;
					height: 30px;
					line-height: 30px;
					margin: 5px 0;
					padding: 0 10px 0 35px;
					position: relative;
					text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
				}

				.cat-settings-col li.ui-settings-placeholder {
					background: none;
					border-style: dashed;
					height: 30px;
				}
				
				.cat-settings-col li.no-display {
					opacity: 0.5;
				}
				
					.cat-settings-col .cat-handle {
						background: url('ui/icon-sprite.png') 0 -120px no-repeat;
						cursor: move;
						display: block;
						position: absolute;
							left: 0;
							top: 0;
						width: 30px;
						height: 30px;
					}
					
					.cat-settings-col .cat-handle:hover {
						background-position: -30px -120px;
					}
					
					.cat-editor {
						position: absolute;
							left: 34px;
							top: 0;
					}
					
						.edit-cat-name {
							background: #FFF;
							-moz-border-radius: 3px 0 0 3px;
							-webkit-border-radius: 3px 0 0 3px;
							border-radius: 3px 0 0 3px;
							border: solid 1px #C3C3C3;
							border-right: none;
							display: block;
							float: left;
							margin: 2px 0;
							padding: 2px 5px;
							width: 120px;
							height: 20px;
							line-height: 20px;
						}
						
						.save-cat-name {
							background: #44414B;
							background: -webkit-gradient(linear, left top, left bottom, from(#5D5A64), to(#44414B));
							background: -moz-linear-gradient(top, #5D5A64, #44414B);
							-moz-border-radius: 0 3px 3px 0;
							-webkit-border-radius: 0 3px 3px 0;
							border-radius: 0 3px 3px 0;
							border: solid 1px #44414B;
							-webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
							-moz-box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
							box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
							color: #FFF;
							cursor: pointer;
							display: block;
							float: left;
							height: 26px;
							margin: 2px 0;
							padding: 0 3px;
						}
						
						.save-cat-name:hover,
						.save-cat-name:focus {
							background: #56525E;
							background: -webkit-gradient(linear, left top, left bottom, from(#6D6975), to(#56525E));
							background: -moz-linear-gradient(top, #6D6975, #56525E);						
						}
					
					.cat-options {
						display: block;
						position: absolute;
							right: 0;
							top: 0;
					}
					
						.cat-options a {
							border-left: solid 1px #706D77;
							display: block;
							float: right;
							outline: none;
							text-indent: -9999px;
							width: 30px;
							height: 30px;
						}
						
						.cat-options a:last-child {
							-moz-border-radius: 0 3px 3px 0;
							-webkit-border-radius: 0 3px 3px 0;
							border-radius: 0 3px 3px 0;
						}
						
						.cat-options a.toggle-display {
							background-position: 0 -330px;
						}
						
							.cat-options a.toggle-display:hover {
								background-position: -30px -330px;
							}
					
					
